<!DOCTYPE html>
<html>
  <head>
    <title>PolitiGame</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div id="game">
      <div id="game_question">
        <h1>How truthy is this statement?<h1>
      </div>
      <div id="game_quote">
        <div id="left_quote">&ldquo;</div>
        <div id="quote_box">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        <div id="right_quote">&bdquo;</div>
      </div>
      <div id="truthibar">
      </div>
    </div>
  </body>
</html>
