<!DOCTYPE html>
<html>
  <head>
    <title>PolitiGame</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div id="game">

      <div id="game_question">
        <p>Who said it&#63;</p>
      </div>

      <div id="quote_box">

        <div id="left_quote">&ldquo;</div>

        <div id="author_quote">
          <div id="quote">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>

        <div id="right_quote">&bdquo;</div>

      </div>

      <div id="options">
        <input type="submit" id="option" value="Barack Obama">
        <input type="submit" id="option" value="Mitt Romney">
      </div>
    </div>
  </body>
  <script src="jquery-1.8.1.js"></script>
  <script src="app.js"></script>
</html>
