<!DOCTYPE html>
<html>
  <head>
    <title>PolitiGame</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div id="game">

      <div id="game_question">
        <p>Who said it&#63;</p>
      </div>

      <div id="quote_box">

        <div id="left_quote">&ldquo;</div>

        <div id="quote">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>

        <div id="right_quote">&bdquo;</div>

      </div>

      <span id="left_option"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Official_portrait_of_Barack_Obama.jpg/220px-Official_portrait_of_Barack_Obama.jpg" alt="Barack Obama"/></span>
      <span id="right_option"><img src="http://reason.com/assets/mc/mriggs/MittRomneyProfilePic.jpg" alt="Mitt Romney"/></span>
    </div>
  </body>
  <script src="jquery-1.8.1.js"></script>
  <script src="app.js"></script>
</html>
