/* Enclosing div */
#game {
  position: absolute;
}

/* The game div is split up into:
 *   game_question
 *   quote_box
 *   answer
 */
#game_question {
  position: relative;
  top: 0px;
  height: 40px;
  font-size: 50px;
  text-align: center;
}

#quote_box {
  height: 45%;
}

#answer {
    height: 250px;
}

/* The quote_box is split into:
 *  left_quote
 *  quote
 *  right_quote
 */
#left_quote {
  display: inline-block;
  font-size: 150px;
  width: 9%;
  vertical-align: top;
}

#quote {
  font-size: 35px;
  margin-top: 50px;
  width: 80%;
  display: inline-block;
  position: relative;
}

#right_quote {
  display: inline-block;
  right: 0;
  bottom: 0;
  font-size: 150px;
  width: 9%;
}


#next_button {
	display: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: 20px;
	padding: 0.5em 2em;
	border-radius: 0.5em;
	font-weight: bold;
	border: none;
	background-color: #475E72;
	color: white;
	cursor: pointer;
}

#next_button:hover {
	background-color: #222D37;
}

div {
  margin: 0;
  padding: 0;
}

img {
  max-height: 90%;
}

#left_option, #right_option {
  padding: 10px;
  width: 230px;
  display: inline-block;
}

#left_option {
  margin-left: 200px;
}

#result {
  display: inline-block;
  vertical-align: top;
  margin-top: 60px
}

#message {
  font-size: 40px;
}

#more_info {
  font-size: 30px;
}

.Republican.hover {
  background: red;
  border: solid 1px #999;
}

.Democrat.hover {
  background: blue;
  border: solid 1px #999;
}

.hover {
  background: yellow;
  border: solid 1px #999;
  cursor: pointer;
}

/*
* {
  outline: 1px solid green;
}
  */
