#game {
  position: absolute;
}

#game_question {
  position: relative;
  top: 0px;
  height: 40px;
  font-size: 50px;
  text-align: center;
}

#quote_box {
  height: 45%;
}

#left_quote {
  display: inline-block;
  font-size: 150px;
  width: 9%;
  vertical-align: top;
}

#quote {
  font-size: 35px;
  margin-top: 50px;
  width: 80%;
  display: inline-block;
  position: relative;
}

#right_quote {
  display: inline-block;
  right: 0;
  bottom: 0;
  font-size: 150px;
  width: 9%;
}

div {
  margin: 0;
  padding: 0;
}

img {
  max-height: 100%;
}

/*
.img-row {
  clear: both;
  text-align: center;
  margin: 0 auto;
}
*/

#option_box {
  height: 250px;
}

#left_option, #right_option {
  padding: 10px;
  height: 250px;
}

#left_option {
  margin-left: 200px;
}

#right_option {
  margin-right: 100px;
}

#result {
  font-size: 40px;
}

#more_info {
  font-size: 30px;
}

.Republican.hover {
  background: red;
  border: solid 1px #999;
}

.Democrat.hover {
  background: blue;
  border: solid 1px #999;
}

.hover {
  background: yellow;
  border: solid 1px #999;
}

/*
* {
  outline: 1px solid green;
}
  */
